<% human_name = (respond_to?(:human_name) ? send(:human_name) : resource_class.human_name) %>
<div class="page">
  <h1 class='heading'> 
    <%=h "#{I18n.t('dry_view.new', :default => "New")}#{human_name}" -%>
  </h1> 

  <% if File.exists?(File.join(view_paths.first, controller_name, '_form.html.erb')) %>
    <%= render 'form' %>
  <%- else -%>
    <%= render '/dry_view_default/form' %>
  <%- end -%>

  <div class='actions'> 
    <%= link_to I18n.t('dry_view.cancel', :default => 'Cancel'), collection_url %>
  </div> 
</div>
